<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'network/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">首页</a></li>
            <li><a href="{% url 'topology_view' %}">拓扑图</a></li>
            <li><a href="{% url 'link_data_table' %}">链路数据表</a></li>
        </ul>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
