.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover, .navbar ul li .active {
    background-color: #111;
}

.table-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.page-title {
    text-align: center; 
    margin: 20px 0;
    font-size: 2em; 
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #9e0c0c;
    color: white;
}

th:nth-child(1) {
    background-color: #1E90FF;
}

th:nth-child(2) {
    background-color: #32CD32;
}

th:nth-child(3) {
    background-color: #FFD700;
}

th:nth-child(4) {
    background-color: #FF6347;
}
